{{#extend "main"}}{{#content "body"}}
  
<div id="tab-red-studio">
  {{> menu}}
  <div class="artworks">
    <img class="scene-element art-1" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element art-2" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element art-3" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element art-4" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <br>
    <br>
    <img class="scene-element art-5" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element art-6" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element art-7" src="/images/red-studio/artwork{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
  </div>
  <div class="ground">
    <img class="scene-element" src="/images/red-studio/gramophone{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element" src="/images/red-studio/sofa{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element" src="/images/red-studio/table{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
    <img class="scene-element" src="/images/red-studio/lamp{{#unless __debug}}.v{{__version}}.min{{/unless}}.svg">
  </div>
  <div class="floor"></div>
</div>
 
{{/content}}{{/extend}}